venv/
.vscode/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml


node_modules/
.next/
dist/
build/

# env file
.env
**/.env
backend/.env


# audio cache folder
/audio_cache/
**/tmp_audio/

/pretrained_models/

**/audio_cache/