venv/
.vscode/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml


node_modules/
.next/
dist/
build/

# env file
.env
**/.env
backend/.env


# audio cache folder
/audio_cache/
**/audio_cache/
backend/audio_cache/

# temporary audio folder
**/tmp_audio/
backend/tmp_audio/

/pretrained_models/

backend/voiceverification/pretrained_models/
pretrained_models/
*.pt
*.ckpt
