# LiveKit
livekit==1.0.23
livekit_api==1.1.0
livekit_blingfire==1.1.0
livekit_plugins_noise_cancellation==0.2.5
livekit-agents==1.3.12
livekit-plugins-google==1.3.12

# LLM & tools
mem0ai
duckduckgo-search
langchain_community==0.4.1
Requests==2.32.5
python-dotenv==1.2.1

# FastAPI Server (untuk voice verification endpoint)
fastapi==0.128.0
uvicorn[standard]
python-multipart

# Numeric
numpy==1.26.4
scipy==1.11.4

# Audio
librosa==0.11.0
soundfile==0.13.1
sounddevice==0.5.3

# ML utils
scikit-learn==1.3.2
matplotlib==3.10.8


# Speaker recognition
speechbrain==0.5.16
huggingface_hub==0.16.4

webrtcvad==2.0.10

supabase==2.27.3

# Torch
# ⚠ DO NOT install torch here
# Install torch + torchaudio manually with CUDA
# torch==2.0.1
# torchaudio==2.0.2